* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.mainDiv {
    width: 100%;
    height: 100vh;
    display: flex;

}

.left {
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 100vh;
    background-color: rgb(9, 17, 124);

}

.right {
    width: 75%;
    height: 100vh;
    background-color: rgb(248, 248, 248);

}

.lText{
    color: white;
    font-size: 24px;
    padding-left: 25px;
}

.ltText{
   height: 70px;
   width: 100%;
   display: flex;
   padding-top: 10px;
   align-items: center;
}

.innerltText{
   font-weight: bold;
   padding-top: 20px;
   padding-bottom: 20px;
}



.subText{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
 
    align-items: start;
}

.highlight{
    width: 100%;
    height: 30px;
    display: flex;
    padding-left: 0px;
    background: linear-gradient(90deg, rgb(255, 255, 255, 0.4) 0%, rgb(255, 255, 255,0.1) 100%);
}


.side{
    left: 0;
    width: 5px;
    background-color: white;
}
.dashText{
    padding-left: 25px;
    padding-top: 20px;
}
.llText{
    width: 100%;
    height: 70px;
}

.subllText{
    padding-top: 20px;
}


.right{
    display: flex;
    flex-direction: column;
}