* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 24px;
    box-sizing: border-box;
}

.mainDiv {
    width: 100%;
    height: 100vh;
    display: flex;

}

.left {
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 100vh;
    background-color: #234582;

}

.right {
    width: 80%;
    height: 100vh;
    background-color: rgb(248, 248, 248);

}

.lText{
    color: white;
    padding-left: 25px;
}

.ltText{
   height: 70px;
   width: 100%;
   display: flex;
   padding-top: 10px;
   align-items: center;
   background-color: #2A5195;
}

.innerltText{
   font-weight: bold;
   padding-top: 20px;
   padding-bottom: 20px;
}



.subText{
    height: 100vh;
    width: 100%;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    background-color: #234582;
    align-items: start;
}

.highlight{
    width: 100%;
    height: 30px;
    display: flex;
    padding-left: 0px;
    background: linear-gradient(90deg, rgb(255, 255, 255, 0.4) 0%, rgb(255, 255, 255,0.1) 100%);
    margin-bottom: 5px;
}


.side{
    left: 0;
    width: 5px;
    background-color: white;
}
.dashText{
    padding-left: 25px;
    padding-top: 20px;
}
.llText{
    width: 100%;
    height: 70px;
}

.subllText{
    padding-top: 20px;
}


.right{
    display: flex;
    flex-direction: column;
}

a{
    text-decoration: none;
    color: white;
}

.top{
    width: 100%;
    height: 125px;
}

.mid{
    width: 100%;
    height: 50%;
}

.lower{
    width: 100%;
    height: 40%;
}

.right{
    background-color: #dde2e4;
}

.top{
    display: flex;
    justify-content: space-between;
    padding: 25px 25px;
}

.top .rleft{
    font-weight: bold;
    font-size: 32px;
    color: rgb(43, 42, 42);
}

input {
    border: 0;
    border-radius: 50px;
    height: 50px;
    width: 400px;
    padding-left: 20px;
    font-size: 19px;
}

input::placeholder{
    color: black;
}

.mid{
    display: flex;
    justify-content: space-evenly;
}

.topCard{
    height: 300px;
    width: 490px;
    background-color: white;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 10px 5px rgb(0,0,0, 0.1);
}

.gradiant {
    width: 100%;
    height: 60%;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    background: linear-gradient(90deg, rgb(209, 106, 21) 30%, rgb(76, 236, 36) 100%);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}

.cardBottom{
    display: flex;
    flex-direction: column;
    padding-top: 50px;
}

.cardTopText{
    font-weight: bold;
}

.cardBottomText{
    font-size: 17px;
}

.gradiant1{
    background: linear-gradient(90deg, rgb(233, 59, 16) 30%, rgb(247, 204, 16) 100%);
}

.gradiant2{
    background: linear-gradient(90deg, rgb(10, 90, 41, 0.9) 20%, rgba(50, 13, 155, 0.9) 100%);
}

.progresstext{
    display: flex;
    justify-content: space-between;
    padding: 0px 15px;
}

.progressbar{
   display: flex;
   height: 10px;
   width: 472px;
   border-radius: 50px;
   overflow: hidden;
   margin: 0 auto;
    background-color: #d0d0d0;
    
}

.progressDone{
   background: linear-gradient(90deg, rgb(46, 141, 131) 0%, rgb(75,222,149) 100%);
   width: 75%;
   height: 100%;
   border-radius: 50px;
}

.insideCardText{
    padding-top: 28px;
    font-size: 16px;
    color: rgb(90, 90, 90);
}

.progressDone1{
   background: linear-gradient(90deg, rgb(233, 54, 164) 0%, rgb(137, 17, 161) 100%);
   width: 45%;
   height: 100%;
   border-radius: 50px;
}

.progressDone2{
   background: linear-gradient(90deg, rgb(121, 20, 161) 0%, rgb(19, 16, 190) 100%);
   width: 90%;
   height: 100%;
   border-radius: 50px;
}

.lower{
    width: 98%;
    margin: 0 auto;
    
}

.bottomCard{
    height:90%;
    width: 100%;
    background-color: white;
    box-shadow: 0px 10px 5px rgb(0,0,0, 0.1);
    border-radius: 25px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.bText{
    padding: 35px;
    font-weight: bold;
}

.bCards{
    display: flex;
    justify-content: space-evenly;
    color: white;
}

.biCards{
    height: 150px;
    width: 450px;
    border-radius: 22px;
    background: radial-gradient(white -25%, rgb(255, 72, 0) 80%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    
}

.biCards1{
    height: 150px;
    width: 450px;
    border-radius: 22px;
    background: radial-gradient(rgb(235, 231, 19), rgb(31, 18, 209));
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}

.biCards2{
    height: 150px;
    width: 450px;
    border-radius: 22px;
    background: radial-gradient(rgb(255, 72, 0) -10%, rgb(15, 214, 228) 85%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}

.Pill{
    background-color: rgb(255, 255, 255, 0.3);
    border-radius: 9999px;
    width: fit-content;
    padding: 5px 15px;
    font-size: 16px;
}

.cName{
    font-weight: bold;
}

.time{
    font-size: 16px;
}