*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 100;
}

.nav{
    width: 100%;
    height: 8%;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    box-shadow: 0px 0.1px;
    position: relative;
    color: rgb(63, 62, 62);
}


.navleft{
    padding-left: 25px
}


.navright{
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-right: 25px
}

.trail{
    background-color: #0976a7;
    height: 45px;
    width: 210px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navtext{
    display: flex;
    gap: 25px;
    padding-top: 7px;
    padding-right: 5px;
}

.body{
    width: 100%;
    height: 92%;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: row;
}

.left{
    width: 35%;
    height: 100%;
    background-color: #0976a7;
    display: flex;
    flex-direction: column;
    color: white;
    padding: 50px;
    gap: 30px;
    justify-content: space-around;
    padding-top: 120px;
}

.right{
    width: 65%;
    height: 100%;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    justify-content: center;
}


.left .bot{
    display: flex;
    gap: 15px;
}

.top{
    line-height: 2;
    font-size: 20px;
}

.protext{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.proa{
    font-weight: bold;
    padding-top: 40px;
}

.prob{
    font-size: 12px;
}

img{
    margin-top: 20px;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    filter: grayscale(100%);
}


.right .p{
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    line-height: 1.5;
}

.right .q{
    font-size: 20px;
    padding: 10px;
}

.right .q span{
    color: #e90606;
    border-bottom: 1px solid #e90606;
    font-size: 20px;
}

.r{
    width: 100%;
    height: 55px;
    display: flex;
    justify-content: center;
}

.r button{
    text-align: center;
    height: 100%;
    width: 50%;
    border-radius: 5px;
    border: 0.1px solid grey;
    background-color: white;
    font-size: 20px;
}

.s{
    width: 100%;
    height: 55px;
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-top: 5px;
}

.s button{
    text-align: center;
    height: 100%;
    width: 25%;
    border-radius: 5px;
    border: 0.1px solid grey;
    background-color: white;
    font-size: 20px;
}

.r input{
    width: 50%;
    height: 100%;
    font-size: 20px;
    background-color: #eff1f3;
    text-align: center;
    border: 1px solid black;
}


.separator {
    display: flex;
    align-items: center;
    text-align: center;
    color: #555; /* Text color */
    font-size: 20px;
    margin: 20px 0; /* Space above and below */
    width: 50%;
}

.separator::before,
.separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #ccc; /* Line color and thickness */
}

.separator::before {
    margin-right: 10px; /* Space between left line and text */
}

.separator::after {
    margin-left: 10px; /* Space between text and right line */
}

.forgot{
    color: #e90606;
    font-size: 20px;
    display: flex;
    width: 50%;
    justify-content: end;
    padding: 5px 0px;
}

.r .signin{
    background-color: #e90606;
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin: 15px 0px;
}

.pqz{
    margin-top:40px;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100px;
    justify-content: center;
    gap: 20px;
}

.pqz span{
    color: #e90606;
    border-bottom: 1px solid#e90606;
}

.pqz .pq{
    color: grey;
}