* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    
}

.mainDiv{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

.nav{
    width: 100%;
    height: 40px;
    background-color: rgb(131, 131, 131);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navLeft, .navRight{
    display: flex;
    gap: 30px;
    padding-right: 20px;
    font-size: 20px;
    font-weight: bold;
    color: rgb(28, 28, 116);
}

.body{
    width: 100%;
    height: 90%;
    display: flex;
    background-color: rgb(243, 238, 238);
}

.left{
    height: 100%;
    width: 30%;
    border-radius: 10px;
    background: linear-gradient(180deg, #76e8e1, #9aa7f5);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.lhead{
    font-weight: bold;
    margin-top: 5px;
    font-size: 28px;
    width: 94%;
    margin: 20px 0px 5px 0px;
}

.sem{
    font-size: 24px;
    background-color: rgb(255, 255, 255, 0.5);
    width: 94%;
    height: 45px;
    border-radius: 10px;
    margin-top: 10px;
    padding: 10px;
    font-weight: 100;
    color: rgb(31, 31, 31);
}

.card{
    margin-top: 10px;
    width: 96%;

    height: 200px;
    border-radius: 20px;
    background-color: white;
}

.ctop{
    color: rgb(14, 14, 173);
    font-size: 24px;
    padding: 15px;
    font-weight: bold;

}

.cmid{
    font-size: 18px;
    padding: 15px;
    text-align: left;
    line-height: 1.4;
}

.cbot{
    width: 150px;
    height: 45px;
    color: white;
    font-weight: bolder;
    border-radius: 5px;
    background: linear-gradient(90deg, #1310dd, #d6da14);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
}



.footer{
    width: 100%;
    height: 10%;
    background: linear-gradient(90deg, rgb(212, 99, 7), rgb(22, 160, 57), rgb(99, 99, 99));
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: white;
}


a {
    text-decoration: none;
    color: inherit;
}

.right{
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.topcard{
    width: 100%;
    height: 200px;
    background-color: white;
    box-shadow: 0px 8px 25px -15px rgba(0,0,0);
    border-radius: 10px;
}

.botcard{
    width: 100%;
    height: 500px;
    background-color: white;
    box-shadow: 0px 8px 25px -15px rgba(0,0,0);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.tttext{
    color: rgb(14, 14, 173);
    font-weight: bold;
    font-size: 24px;
    padding: 15px;
}


.ttable{
    margin-left: 20px;
    height: 65%;
    width: 97%;
    display: flex; 
    font-size: 19px;
}

.a{
    width: 50%;
    height: 100%;
    background: linear-gradient(90deg, #ee6307, #c9c6c6);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 10px;
}

.b{
    width: 25%;
    height: 100%;
    background: linear-gradient(90deg, #ee6307, #c9c6c6);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.c{
    width: 25%;
    height: 100%;
    background: linear-gradient(90deg, #ee6307, #c9c6c6);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.aa{
    font-weight: bolder;
    color: white;
    border-bottom: 1px solid white;
    padding: 10px;
}

.bb{
    padding: 10px;
    border-bottom: 1px solid white;
}

.cc{
    padding: 10px;
}



.title, .input{
    margin-left: 18px;
}

.title{
    font-weight: bold;
}

.input{
    margin-right: 18px;
    height: 40px;
    color: grey;
    padding: 5px;
    border: 1px solid grey;
    border-radius: 5px;
}