*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: rgb(37, 37, 37);
}

.mainDiv{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.top{
    background-color: #f5f5f5;
    width: 100%;
    height: 10%;
}

.mid{
    background-color: #d2dbdf;
    width: 100%;
    height: 60%;
}
.bot{
    background-color: #f5f5f5;
    width: 100%;
    height: 30%;
}

.top{
    display: flex;
    flex-direction: column;
}

.ttop{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 60%;
    align-items: center;
    padding-left: 20px;
}

.tbot{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
    padding-left: 10px;
    padding-top: 10px;
}

.logtext{
    display: flex;
    gap: 20px;
}

.logo{
    font-size: 24px;
    font-weight: bold;
}   

.logospan{
    font-size: 24px;
    font-weight: bold;
    color: #ff4419;
}

.sign{
    width: 100px;
    height: 35px;
    background-color: #ff4419;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 25px;
}

.pqr{
    height: 35px;
    width: auto;
    display: flex;
    gap: 25px;
    align-items: center;
}

.bot{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bot .a{
    color: black;
    font-weight: 600;
    font-size: 32px;
    padding-bottom: 15px;

}

.bot .b{
    color: rgb(110, 109, 109);  
    padding-bottom: 25px;
}

.bot .b span{
    color: rgb(110, 109, 109);  
    border-bottom: 1px solid rgb(110, 109, 109, 0.4);
}

.bot .c{
    color: #1d78f0;
    border-bottom: 1px solid rgba(29, 120, 240, 0.4);
}
.mid{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    padding-top: 80px;
}

.mid .aa{
    font-size: 17px;
    padding-bottom: 10px;
}

.mid .bb{
    font-size: 54px;
}

.mid .bb span{
    font-size: 54px;
    border-bottom: 5px dotted black;
}

.cc{
    margin-top: 55px;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.card{
    background-color: #f5f5f5;
    height: 250px;
    width: 300px;
    border: 5px solid black;
    box-shadow: 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.card .a{
    color: #4358b8;
    font-size: 16px;
    padding-right: 50px;
    font-weight: bold;
}

.card .b{
    display: flex;
    font-size: 60px;
    font-weight:bold;
    padding-right: 100px;
}

.card .bbq{
    display: flex;
    font-size: 60px;
    font-weight:bold;
    padding-right: 25px;
}



.card span{
    font-size: 15px;
    padding-left: 5px;
    padding-top: 38px;
}

.c{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
}

.c .ca{
    font-weight: bold;
    font-size: 19px;
    color: white;
    height: 50px;
    width: 200px;
    background-color: #1d78f0;
    display: flex;
    align-items: center;
    justify-content:center;
}

.c .cb{
    margin-top: 5px;
    font-size: 12px;
}